In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
columnNames = ["age", "sex", "cp", "trestbps", "chol", "fbs", 
    "restecg", "thalach", "exang", "oldpeak", 
    "slope", "ca", "thal", "target"]
#Column names were determined by the variable names given by https://archive.ics.uci.edu/dataset/45/heart+disease

In [5]:
data = pd.read_csv(r'C:\Users\Angel\Downloads\heart+disease\processed.cleveland.data', header=None, names=columnNames)

In [6]:
data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63.0,1.0,1.0,145.0,233.0,1.0,2.0,150.0,0.0,2.3,3.0,0.0,6.0,0
1,67.0,1.0,4.0,160.0,286.0,0.0,2.0,108.0,1.0,1.5,2.0,3.0,3.0,2
2,67.0,1.0,4.0,120.0,229.0,0.0,2.0,129.0,1.0,2.6,2.0,2.0,7.0,1
3,37.0,1.0,3.0,130.0,250.0,0.0,0.0,187.0,0.0,3.5,3.0,0.0,3.0,0
4,41.0,0.0,2.0,130.0,204.0,0.0,2.0,172.0,0.0,1.4,1.0,0.0,3.0,0

Note to Self. Definitions of column names, medical terms  provided by https://archive.ics.uci.edu/dataset/45/heart+disease
cp = categorical
trestbps = resting blood pressure (upon arrival to the hospital)
chol = cholesteral
fbs = fasting blood sugar
restecg = resting ecg level? lol
thalach = maximum heart rate achieved 
exang = exercise reduced angina
oldpeak = ST depression induced by exercise relative to rest
sl0pe = 
ca = number of major vessels (0-3) colored by flourosopy
num = diagnosis of heart disease

In [9]:
data.shape

(303, 14)

In [10]:
data.describe

<bound method NDFrame.describe of       age  sex   cp  trestbps   chol  fbs  restecg  thalach  exang  oldpeak  \
0    63.0  1.0  1.0     145.0  233.0  1.0      2.0    150.0    0.0      2.3
1    67.0  1.0  4.0     160.0  286.0  0.0      2.0    108.0    1.0      1.5
2    67.0  1.0  4.0     120.0  229.0  0.0      2.0    129.0    1.0      2.6
3    37.0  1.0  3.0     130.0  250.0  0.0      0.0    187.0    0.0      3.5
4    41.0  0.0  2.0     130.0  204.0  0.0      2.0    172.0    0.0      1.4
..    ...  ...  ...       ...    ...  ...      ...      ...    ...      ...
298  45.0  1.0  1.0     110.0  264.0  0.0      0.0    132.0    0.0      1.2
299  68.0  1.0  4.0     144.0  193.0  1.0      0.0    141.0    0.0      3.4
300  57.0  1.0  4.0     130.0  131.0  0.0      0.0    115.0    1.0      1.2
301  57.0  0.0  2.0     130.0  236.0  0.0      2.0    174.0    0.0      0.0
302  38.0  1.0  3.0     138.0  175.0  0.0      0.0    173.0    0.0      0.0

     slope   ca thal  target
0      3.0  0.0  6.0       0
1      2.0  3.0  3.0       2
2      2.0  2.0  7.0       1
3      3.0  0.0  3.0       0
4      1.0  0.0  3.0       0
..     ...  ...  ...     ...
298    2.0  0.0  7.0       1
299    2.0  2.0  7.0       2
300    2.0  1.0  7.0       3
301    2.0  1.0  3.0       1
302    1.0    ?  3.0       0

[303 rows x 14 columns]>

In [ ]:
data.isnull().sum()
#No null values

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64